src/main/resources/musicxml/xsd/attributes.xsd

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

    <xs:include schemaLocation="direction.xsd"/>

    <xs:simpleType name="time-separator">
        <xs:annotation>
            <xs:documentation>The time-separator type indicates how to display the arrangement between the beats and beat-type values in a time signature. The default value is none. The horizontal, diagonal, and vertical values represent horizontal, diagonal lower-left to upper-right, and vertical lines respectively. For these values, the beats and beat-type values are arranged on either side of the separator line. The none value represents no separator with the beats and beat-type arranged vertically. The adjacent value represents no separator with the beats and beat-type arranged horizontally.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="none"/>
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="diagonal"/>
            <xs:enumeration value="vertical"/>
            <xs:enumeration value="adjacent"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="time-symbol">
        <xs:annotation>
            <xs:documentation>The time-symbol type indicates how to display a time signature. The normal value is the usual fractional display, and is the implied symbol type if none is specified. Other options are the common and cut time symbols, as well as a single number with an implied denominator. The note symbol indicates that the beat-type should be represented with the corresponding downstem note rather than a number. The dotted-note symbol indicates that the beat-type should be represented with a dotted downstem note that corresponds to three times the beat-type value, and a numerator that is one third the beats value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="common"/>
            <xs:enumeration value="cut"/>
            <xs:enumeration value="single-number"/>
            <xs:enumeration value="note"/>
            <xs:enumeration value="dotted-note"/>
            <xs:enumeration value="normal"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="attributes">
        <xs:annotation>
            <xs:documentation>The attributes element contains musical information that typically changes on measure boundaries. This includes key and time signatures, clefs, transpositions, and staving. When attributes are changed mid-measure, it affects the music in score order, not in MusicXML document order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="editorial"/>

            <xs:element name="divisions" type="positive-divisions" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Musical notation duration is commonly represented as fractions. The divisions element indicates how many divisions per quarter note are used to indicate a note's duration. For example, if duration = 1 and divisions = 2, this is an eighth note duration. Duration and divisions are used directly for generating sound output, so they must be chosen to take tuplets into account. Using a divisions element lets us use just one number to represent a duration for each note in the score, while retaining the full power of a fractional representation. If maximum compatibility with Standard MIDI 1.0 files is important, do not have the divisions value exceed 16383.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="key" type="key" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The key element represents a key signature. Both traditional and non-traditional key signatures are supported. The optional number attribute refers to staff numbers. If absent, the key signature applies to all staves in the part.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="time" type="time" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Time signatures are represented by the beats element for the numerator and the beat-type element for the denominator.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="staves" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The staves element is used if there is more than one staff represented in the given part (e.g., 2 staves for typical piano parts). If absent, a value of 1 is assumed. Staves are ordered from top to bottom in a part in numerical order, with staff 1 above staff 2.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="part-symbol" type="part-symbol" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The part-symbol element indicates how a symbol for a multi-staff part is indicated in the score.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="instruments" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The instruments element is only used if more than one instrument is represented in the part (e.g., oboe I and II where they play together most of the time). If absent, a value of 1 is assumed.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="clef" type="clef" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Clefs are represented by a combination of sign, line, and clef-octave-change elements.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="staff-details" type="staff-details" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The staff-details element is used to indicate different types of staves.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="transpose" type="transpose" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>If the part is being encoded for a transposing instrument in written vs. concert pitch, the transposition must be encoded in the transpose element using the transpose type.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="directive" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Directives are like directions, but can be grouped together with attributes for convenience. This is typically used for tempo markings at the beginning of a piece of music. This element has been deprecated in Version 2.0 in favor of the directive attribute for direction elements. Language names come from ISO 639, with optional country subcodes from ISO 3166.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attributeGroup ref="print-style"/>
                            <xs:attribute ref="xml:lang"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>

            <xs:element name="measure-style" type="measure-style" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A measure-style indicates a special way to print partial to multiple measures within a part. This includes multiple rests over several measures, repeats of beats, single, or multiple measures, and use of slash notation.</xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="positive-divisions">
        <xs:annotation>
            <xs:documentation>The positive-divisions type restricts divisions values to positive numbers.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="divisions">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="key">
        <xs:annotation>
            <xs:documentation>The key type represents a key signature. Both traditional and non-traditional key signatures are supported. The optional number attribute refers to staff numbers. If absent, the key signature applies to all staves in the part. Key signatures appear at the start of each system unless the print-object attribute has been set to "no".</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:group ref="traditional-key"/>
                <xs:group ref="non-traditional-key" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:element name="key-octave" type="key-octave" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The optional list of key-octave elements is used to specify in which octave each element of the key signature appears.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="number" type="staff-number"/>
        <xs:attributeGroup ref="print-style"/>
        <xs:attributeGroup ref="print-object"/>
    </xs:complexType>

    <xs:group name="traditional-key">
        <xs:annotation>
            <xs:documentation>The traditional-key group represents a traditional key signature using the cycle of fifths.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="cancel" type="cancel" minOccurs="0"/>
            <xs:element name="fifths" type="fifths"/>
            <xs:element name="mode" type="mode" minOccurs="0"/>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="cancel">
        <xs:annotation>
            <xs:documentation>A cancel element indicates that the old key signature should be cancelled before the new one appears. This will always happen when changing to C major or A minor and need not be specified then. The cancel value matches the fifths value of the cancelled key signature (e.g., a cancel of -2 will provide an explicit cancellation for changing from B flat major to F major). The optional location attribute indicates whether the cancellation appears relative to the new key signature.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="fifths">
                <xs:attribute name="location" type="cancel-location"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="cancel-location">
        <xs:annotation>
            <xs:documentation>The cancel-location type is used to indicate where a key signature cancellation appears relative to a new key signature: to the left, to the right, or before the barline and to the left. It is left by default. For mid-measure key elements, a cancel-location of before-barline should be treated like a cancel-location of left.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="before-barline"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="fifths">
        <xs:annotation>
            <xs:documentation>The fifths type represents the number of flats or sharps in a traditional key signature. Negative numbers are used for flats and positive numbers for sharps, reflecting the key's placement within the circle of fifths (hence the type name).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>

    <xs:simpleType name="mode">
        <xs:annotation>
            <xs:documentation>The mode type is used to specify major/minor and other mode distinctions. Valid mode values include major, minor, dorian, phrygian, lydian, mixolydian, aeolian, ionian, locrian, and none.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:group name="non-traditional-key">
        <xs:annotation>
            <xs:documentation>The non-traditional-key group represents a single alteration within a non-traditional key signature. A sequence of these groups makes up a non-traditional key signature</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="key-step" type="step">
                <xs:annotation>
                    <xs:documentation>Non-traditional key signatures can be represented using the Humdrum/Scot concept of a list of altered tones. The key-step element indicates the pitch step to be altered, represented using the same names as in the step element.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="key-alter" type="semitones">
                <xs:annotation>
                    <xs:documentation>Non-traditional key signatures can be represented using the Humdrum/Scot concept of a list of altered tones. The key-alter element represents the alteration for a given pitch step, represented with semitones in the same manner as the alter element.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="key-accidental" type="accidental-value" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Non-traditional key signatures can be represented using the Humdrum/Scot concept of a list of altered tones. The key-accidental element indicates the accidental to be displayed in the key signature, represented in the same manner as the accidental element. It is used for disambiguating microtonal accidentals.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="key-octave">
        <xs:annotation>
            <xs:documentation>The key-octave element specifies in which octave an element of a key signature appears. The content specifies the octave value using the same values as the display-octave element. The number attribute is a positive integer that refers to the key signature element in left-to-right order. If the cancel attribute is set to yes, then this number refers to an element specified by the cancel element. It is no by default.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="octave">
                <xs:attribute name="number" type="xs:positiveInteger" use="required"/>
                <xs:attribute name="cancel" type="yes-no"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="time">
        <xs:annotation>
            <xs:documentation>Time signatures are represented by the beats element for the numerator and the beat-type element for the denominator. The symbol attribute is used indicate common and cut time symbols as well as a single number display. Multiple pairs of beat and beat-type elements are used for composite time signatures with multiple denominators, such as 2/4 + 3/8. A composite such as 3+2/8 requires only one beat/beat-type pair.

                The print-object attribute allows a time signature to be specified but not printed, as is the case for excerpts from the middle of a score. The value is "yes" if not present. The optional number attribute refers to staff numbers within the part. If absent, the time signature applies to all staves in the part.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:sequence>
                <xs:group ref="time-signature" maxOccurs="unbounded"/>
                <xs:element name="interchangeable" type="interchangeable" minOccurs="0"/>
            </xs:sequence>
            <xs:element name="senza-misura" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A senza-misura element explicitly indicates that no time signature is present. The optional element content indicates the symbol to be used, if any, such as an X. The time element's symbol attribute is not used when a senza-misura element is present.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute name="number" type="staff-number"/>
        <xs:attribute name="symbol" type="time-symbol"/>
        <xs:attribute name="separator" type="time-separator"/>
        <xs:attributeGroup ref="print-style-align"/>
        <xs:attributeGroup ref="print-object"/>
    </xs:complexType>

    <xs:group name="time-signature">
        <xs:annotation>
            <xs:documentation>Time signatures are represented by the beats element for the numerator and the beat-type element for the denominator.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="beats" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The beats element indicates the number of beats, as found in the numerator of a time signature.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="beat-type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The beat-type element indicates the beat unit, as found in the denominator of a time signature.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="interchangeable">
        <xs:annotation>
            <xs:documentation>The interchangeable type is used to represent the second in a pair of interchangeable dual time signatures, such as the 6/8 in 3/4 (6/8). A separate symbol attribute value is available compared to the time element's symbol attribute, which applies to the first of the dual time signatures. The parentheses attribute value is yes by default.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="time-relation" type="time-relation" minOccurs="0"/>
            <xs:group ref="time-signature" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="symbol" type="time-symbol"/>
        <xs:attribute name="separator" type="time-separator"/>
    </xs:complexType>

    <xs:simpleType name="time-relation">
        <xs:annotation>
            <xs:documentation>The time-relation type indicates the symbol used to represent the interchangeable aspect of dual time signatures.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="parentheses"/>
            <xs:enumeration value="bracket"/>
            <xs:enumeration value="equals"/>
            <xs:enumeration value="slash"/>
            <xs:enumeration value="space"/>
            <xs:enumeration value="hyphen"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="part-symbol">
        <xs:annotation>
            <xs:documentation>The part-symbol type indicates how a symbol for a multi-staff part is indicated in the score; brace is the default value. The top-staff and bottom-staff elements are used when the brace does not extend across the entire part. For example, in a 3-staff organ part, the top-staff will typically be 1 for the right hand, while the bottom-staff will typically be 2 for the left hand. Staff 3 for the pedals is usually outside the brace.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="group-symbol-value">
                <xs:attribute name="top-staff" type="staff-number"/>
                <xs:attribute name="bottom-staff" type="staff-number"/>
                <xs:attributeGroup ref="position"/>
                <xs:attributeGroup ref="color"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="group-symbol-value">
        <xs:annotation>
            <xs:documentation>The group-symbol-value type indicates how the symbol for a group is indicated in the score. The default value is none.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="brace"/>
            <xs:enumeration value="line"/>
            <xs:enumeration value="bracket"/>
            <xs:enumeration value="square"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="clef">
        <xs:annotation>
            <xs:documentation>Clefs are represented by a combination of sign, line, and clef-octave-change elements. The optional number attribute refers to staff numbers within the part. A value of 1 is assumed if not present.

                Sometimes clefs are added to the staff in non-standard line positions, either to indicate cue passages, or when there are multiple clefs present simultaneously on one staff. In this situation, the additional attribute is set to "yes" and the line value is ignored. The size attribute is used for clefs where the additional attribute is "yes". It is typically used to indicate cue clefs.

                Sometimes clefs at the start of a measure need to appear after the barline rather than before, as for cues or for use after a repeated section. The after-barline attribute is set to "yes" in this situation. The attribute is ignored for mid-measure clefs.

                Clefs appear at the start of each system unless the print-object attribute has been set to "no" or the additional attribute has been set to "yes".</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sign" type="clef-sign">
                <xs:annotation>
                    <xs:documentation>The sign element represents the clef symbol.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="line" type="staff-line" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Line numbers are counted from the bottom of the staff. Standard values are 2 for the G sign (treble clef), 4 for the F sign (bass clef), 3 for the C sign (alto clef) and 5 for TAB (on a 6-line staff).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="clef-octave-change" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The clef-octave-change element is used for transposing clefs. A treble clef for tenors would have a value of -1.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="number" type="staff-number"/>
        <xs:attribute name="additional" type="yes-no"/>
        <xs:attribute name="size" type="symbol-size"/>
        <xs:attribute name="after-barline" type="yes-no"/>
        <xs:attributeGroup ref="print-style"/>
        <xs:attributeGroup ref="print-object"/>
    </xs:complexType>

    <xs:simpleType name="clef-sign">
        <xs:annotation>
            <xs:documentation>The clef-sign element represents the different clef symbols. The jianpu sign indicates that the music that follows should be in jianpu numbered notation, just as the TAB sign indicates that the music that follows should be in tablature notation. Unlike TAB, a jianpu sign does not correspond to a visual clef notation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="G"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="percussion"/>
            <xs:enumeration value="TAB"/>
            <xs:enumeration value="jianpu"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="staff-line">
        <xs:annotation>
            <xs:documentation>The staff-line type indicates the line on a given staff. Staff lines are numbered from bottom to top, with 1 being the bottom line on a staff. Staff line values can be used to specify positions outside the staff, such as a C clef positioned in the middle of a grand staff.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>

    <xs:complexType name="staff-details">
        <xs:annotation>
            <xs:documentation>The staff-details element is used to indicate different types of staves. The optional number attribute specifies the staff number from top to bottom on the system, as with clef. The print-object attribute is used to indicate when a staff is not printed in a part, usually in large scores where empty parts are omitted. It is yes by default. If print-spacing is yes while print-object is no, the score is printed in cutaway format where vertical space is left for the empty part.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="staff-type" type="staff-type" minOccurs="0"/>
            <xs:element name="staff-lines" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The staff-lines element specifies the number of lines for a non 5-line staff.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="staff-tuning" type="staff-tuning" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="capo" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The capo element indicates at which fret a capo should be placed on a fretted instrument. This changes the open tuning of the strings specified by staff-tuning by the specified number of half-steps.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="staff-size" type="non-negative-decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The staff-size element indicates how large a staff space is on this staff, expressed as a percentage of the work's default scaling. Values less than 100 make the staff space smaller while values over 100 make the staff space larger. A staff-type of cue, ossia, or editorial implies a staff-size of less than 100, but the exact value is implementation-dependent unless specified here. Staff size affects staff height only, not the relationship of the staff to the left and right margins.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="number" type="staff-number"/>
        <xs:attribute name="show-frets" type="show-frets"/>
        <xs:attributeGroup ref="print-object"/>
        <xs:attributeGroup ref="print-spacing"/>
    </xs:complexType>

    <xs:simpleType name="staff-type">
        <xs:annotation>
            <xs:documentation>The staff-type value can be ossia, cue, editorial, regular, or alternate. An alternate staff indicates one that shares the same musical data as the prior staff, but displayed differently (e.g., treble and bass clef, standard notation and tab).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ossia"/>
            <xs:enumeration value="cue"/>
            <xs:enumeration value="editorial"/>
            <xs:enumeration value="regular"/>
            <xs:enumeration value="alternate"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="staff-tuning">
        <xs:annotation>
            <xs:documentation>The staff-tuning type specifies the open, non-capo tuning of the lines on a tablature staff.</xs:documentation>
        </xs:annotation>
        <xs:group ref="tuning"/>
        <xs:attribute name="line" type="staff-line"/>
    </xs:complexType>

    <xs:simpleType name="show-frets">
        <xs:annotation>
            <xs:documentation>The show-frets type indicates whether to show tablature frets as numbers (0, 1, 2) or letters (a, b, c). The default choice is numbers.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="numbers"/>
            <xs:enumeration value="letters"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="transpose">
        <xs:annotation>
            <xs:documentation>The transpose type represents what must be added to a written pitch to get a correct sounding pitch. The optional number attribute refers to staff numbers, from top to bottom on the system. If absent, the transposition applies to all staves in the part. Per-staff transposition is most often used in parts that represent multiple instruments.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="diatonic" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The diatonic element specifies the number of pitch steps needed to go from written to sounding pitch. This allows for correct spelling of enharmonic transpositions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chromatic" type="semitones">
                <xs:annotation>
                    <xs:documentation>The chromatic element represents the number of semitones needed to get from written to sounding pitch. This value does not include octave-change values; the values for both elements need to be added to the written pitch to get the correct sounding pitch.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="octave-change" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The octave-change element indicates how many octaves to add to get from written pitch to sounding pitch.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="double" type="empty" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>If the double element is present, it indicates that the music is doubled one octave down from what is currently written (as is the case for mixed cello / bass parts in orchestral literature).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="number" type="staff-number"/>
    </xs:complexType>

    <xs:complexType name="measure-style">
        <xs:annotation>
            <xs:documentation>A measure-style indicates a special way to print partial to multiple measures within a part. This includes multiple rests over several measures, repeats of beats, single, or multiple measures, and use of slash notation.

                The multiple-rest and measure-repeat symbols indicate the number of measures covered in the element content. The beat-repeat and slash elements can cover partial measures. All but the multiple-rest element use a type attribute to indicate starting and stopping the use of the style. The optional number attribute specifies the staff number from top to bottom on the system, as with clef.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="multiple-rest" type="multiple-rest"/>
            <xs:element name="measure-repeat" type="measure-repeat"/>
            <xs:element name="beat-repeat" type="beat-repeat"/>
            <xs:element name="slash" type="slash"/>
        </xs:choice>
        <xs:attribute name="number" type="staff-number"/>
        <xs:attributeGroup ref="font"/>
        <xs:attributeGroup ref="color"/>
    </xs:complexType>

    <xs:complexType name="multiple-rest">
        <xs:annotation>
            <xs:documentation>The text of the multiple-rest type indicates the number of measures in the multiple rest. Multiple rests may use the 1-bar / 2-bar / 4-bar rest symbols, or a single shape. The use-symbols attribute indicates which to use; it is no if not specified. The element text is ignored when the type is stop.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="positive-integer-or-empty">
                <xs:attribute name="use-symbols" type="yes-no"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="measure-repeat">
        <xs:annotation>
            <xs:documentation>The measure-repeat type is used for both single and multiple measure repeats. The text of the element indicates the number of measures to be repeated in a single pattern. The slashes attribute specifies the number of slashes to use in the repeat sign. It is 1 if not specified. Both the start and the stop of the measure-repeat must be specified. The text of the element is ignored when the type is stop.

                The measure-repeat element specifies a notation style for repetitions. The actual music being repeated needs to be repeated within the MusicXML file. This element specifies the notation that indicates the repeat.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="positive-integer-or-empty">
                <xs:attribute name="type" type="start-stop" use="required"/>
                <xs:attribute name="slashes" type="xs:positiveInteger"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="beat-repeat">
        <xs:annotation>
            <xs:documentation>The beat-repeat type is used to indicate that a single beat (but possibly many notes) is repeated. Both the start and stop of the beat being repeated should be specified. The slashes attribute specifies the number of slashes to use in the symbol. The use-dots attribute indicates whether or not to use dots as well (for instance, with mixed rhythm patterns). By default, the value for slashes is 1 and the value for use-dots is no.

                The beat-repeat element specifies a notation style for repetitions. The actual music being repeated needs to be repeated within the MusicXML file. This element specifies the notation that indicates the repeat.</xs:documentation>
        </xs:annotation>
        <xs:group ref="slash" minOccurs="0"/>
        <xs:attribute name="type" type="start-stop" use="required"/>
        <xs:attribute name="slashes" type="xs:positiveInteger"/>
        <xs:attribute name="use-dots" type="yes-no"/>
    </xs:complexType>

    <xs:complexType name="slash">
        <xs:annotation>
            <xs:documentation>The slash type is used to indicate that slash notation is to be used. If the slash is on every beat, use-stems is no (the default). To indicate rhythms but not pitches, use-stems is set to yes. The type attribute indicates whether this is the start or stop of a slash notation style. The use-dots attribute works as for the beat-repeat element, and only has effect if use-stems is no.</xs:documentation>
        </xs:annotation>
        <xs:group ref="slash" minOccurs="0"/>
        <xs:attribute name="type" type="start-stop" use="required"/>
        <xs:attribute name="use-dots" type="yes-no"/>
        <xs:attribute name="use-stems" type="yes-no"/>
    </xs:complexType>

    <xs:group name="slash">
        <xs:annotation>
            <xs:documentation>The slash group combines elements used for more complete specification of the slash and beat-repeat measure-style elements. They have the same values as the type and dot elements, and define what the beat is for the display of repetition marks. If not present, the beat is based on the current time signature.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="slash-type" type="note-type-value">
                <xs:annotation>
                    <xs:documentation>The slash-type element indicates the graphical note type to use for the display of repetition marks.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="slash-dot" type="empty" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The slash-dot element is used to specify any augmentation dots in the note type used to display repetition marks.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="image">
        <xs:annotation>
            <xs:documentation>The image type is used to include graphical images in a score.</xs:documentation>
        </xs:annotation>
        <xs:attributeGroup ref="image-attributes"/>
    </xs:complexType>

    <xs:attributeGroup name="image-attributes">
        <xs:annotation>
            <xs:documentation>The image-attributes group is used to include graphical images in a score. The required source attribute is the URL for the image file. The required type attribute is the MIME type for the image file format. Typical choices include application/postscript, image/gif, image/jpeg, image/png, and image/tiff.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="source" type="xs:anyURI" use="required"/>
        <xs:attribute name="type" type="xs:token" use="required"/>
        <xs:attributeGroup ref="position"/>
        <xs:attributeGroup ref="halign"/>
        <xs:attributeGroup ref="valign-image"/>
    </xs:attributeGroup>

</xs:schema>
